In [28]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv('input/train.csv')

In [29]:
data['DistrictId'] = data['DistrictId'].astype(str)
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [30]:
data.describe()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null object
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(8), object(4)
memory usage: 1.5+ MB

In [32]:
ls_ok = data.loc[data['LifeSquare'].notnull(), :]
ls_ok.corr()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
Id,1.000000,-0.005763,-0.002396,0.018449,0.021099,0.009656,-0.004175,0.005549,0.017094,-0.010703,-0.010945,-0.011621,-0.005733,-0.005550,-0.014028,0.012183
Rooms,-0.005763,1.000000,0.672815,0.131336,-0.001350,-0.000569,-0.028773,-0.012111,-0.030190,0.049951,0.048683,0.035184,0.030604,0.045743,0.059898,0.544607
Square,-0.002396,0.672815,1.000000,0.196129,0.019839,0.133996,0.142128,-0.009891,-0.059046,-0.055405,-0.022275,0.061294,-0.036315,-0.012037,0.047408,0.555218
LifeSquare,0.018449,0.131336,0.196129,1.000000,-0.001195,0.024559,0.027442,-0.002210,-0.023629,-0.048363,-0.039283,0.012763,-0.026867,-0.024762,-0.007569,0.081292
KitchenSquare,0.021099,-0.001350,0.019839,-0.001195,1.000000,-0.000325,0.002923,0.000501,-0.012355,0.006937,0.006424,-0.012882,-0.004243,0.022006,-0.000816,0.012617
Floor,0.009656,-0.000569,0.133996,0.024559,-0.000325,1.000000,0.473103,0.001899,-0.020320,-0.012292,0.016095,-0.035956,-0.124697,-0.060151,0.028935,0.147600
HouseFloor,-0.004175,-0.028773,0.142128,0.027442,0.002923,0.473103,1.000000,-0.000733,-0.019620,-0.004066,0.030658,-0.040381,-0.142837,-0.067960,0.027975,0.140616
HouseYear,0.005549,-0.012111,-0.009891,-0.002210,0.000501,0.001899,-0.000733,1.000000,0.001291,0.001016,0.000120,0.001551,-0.013326,0.010964,0.003729,0.003639
Ecology_1,0.017094,-0.030190,-0.059046,-0.023629,-0.012355,-0.020320,-0.019620,0.001291,1.000000,-0.052143,-0.064810,-0.079649,-0.016162,0.015106,-0.072480,-0.073379
Social_1,-0.010703,0.049951,-0.055405,-0.048363,0.006937,-0.012292,-0.004066,0.001016,-0.052143,1.000000,0.945235,-0.020153,0.014472,0.445211,0.538452,0.179139
Social_2,-0.010945,0.048683,-0.022275,-0.039283,0.006424,0.016095,0.030658,0.000120,-0.064810,0.945235,1.000000,0.014114,-0.004220,0.384484,0.554291,0.162395
Social_3,-0.011621,0.035184,0.061294,0.012763,-0.012882,-0.035956,-0.040381,0.001551,-0.079649,-0.020153,0.014114,1.000000,0.172604,0.236887,0.529603,0.140835
Healthcare_1,-0.005733,0.030604,-0.036315,-0.026867,-0.004243,-0.124697,-0.142837,-0.013326,-0.016162,0.014472,-0.004220,0.172604,1.000000,0.179816,0.040460,0.109215
Helthcare_2,-0.005550,0.045743,-0.012037,-0.024762,0.022006,-0.060151,-0.067960,0.010964,0.015106,0.445211,0.384484,0.236887,0.179816,1.000000,0.409646,0.195145
Shops_1,-0.014028,0.059898,0.047408,-0.007569,-0.000816,0.028935,0.027975,0.003729,-0.072480,0.538452,0.554291,0.529603,0.040460,0.409646,1.000000,0.183283
Price,0.012183,0.544607,0.555218,0.081292,0.012617,0.147600,0.140616,0.003639,-0.073379,0.179139,0.162395,0.140835,0.109215,0.195145,0.183283,1.000000

In [4]:
data['DistrictId'] = data['DistrictId'].astype(str)

In [33]:
data = data.drop(['LifeSquare', 'Healthcare_1', 'DistrictId'], axis = 1)
data = pd.get_dummies(data)
train, valid = train_test_split(data, test_size=0.3, random_state=42)

In [34]:
from sklearn.linear_model import LinearRegression as LR
lr = LR()
lr.fit(train.drop(['Price'], axis=1), train['Price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [35]:
pred_train = lr.predict(train.drop(['Price'], axis=1))
pred_valid = lr.predict(valid.drop(['Price'], axis=1))

In [36]:
from sklearn.metrics import r2_score as r2, mean_squared_error as mse
r2(train['Price'], pred_train), mse(train['Price'], pred_train)

(0.4626822261061574, 4639085951.736316)

In [37]:
r2(valid['Price'], pred_valid), mse(valid['Price'], pred_valid)

(0.4303064941914789, 4900363962.3181305)

In [ ]:
lr.

In [38]:
?lr